<div>
  <!-- 步骤条 -->
  <el-steps :active="activeStep" finish-status="success">
    <el-step title="第一步" description="基本信息"></el-step>
    <el-step title="第二步" description="商品图片"></el-step>
    <el-step title="第三步" description="商品内容"></el-step>
  </el-steps>

  <!-- 标签页 -->
  <el-tabs v-model="activeName" @tab-click="clickTabs" tab-position="left">
    <!-- 第一个 -->
    <el-tab-pane name="one" label="基本信息">
      <el-form ref="goodsAddForm" :model="goodsAddForm" label-width="80px">
        <el-form-item label="商品名称">
          <el-input v-model="goodsAddForm.goods_name"></el-input>
        </el-form-item>
        <el-form-item label="商品价格">
          <el-input v-model="goodsAddForm.goods_price"></el-input>
        </el-form-item>
        <el-form-item label="商品重量">
          <el-input v-model="goodsAddForm.goods_weight"></el-input>
        </el-form-item>
        <el-form-item label="商品数量">
          <el-input v-model="goodsAddForm.goods_number"></el-input>
        </el-form-item>
        <el-form-item label="商品分类">
          <el-cascader
            v-model="goodsAddForm.goods_cat"
            :options="options"
            change-on-select
            :props="defaultProps"
          ></el-cascader>
        </el-form-item>
        <!-- 是否促销 -->
        <el-form-item label="是否促销">
          <template>
            <!-- 单选框比较特殊 label是负责收集的 -->
            <el-radio v-model="goodsAddForm.goods_isPromotion" :label="true"
              >是</el-radio
            >
            <el-radio v-model="goodsAddForm.goods_isPromotion" :label="false"
              >否</el-radio
            >
          </template>
        </el-form-item>
      </el-form>
      <el-button @click="next('two',2)" type="primary">下一步</el-button>
    </el-tab-pane>

    <!-- 第二个 -->
    <el-tab-pane name="two" label="商品图片">
      商品图片
      <el-button @click="next('three',3)" type="primary">下一步</el-button>
    </el-tab-pane>

    <!-- 第三个 -->
    <el-tab-pane name="three" label="商品内容">
      商品内容
      <el-button type="primary">确定</el-button>
    </el-tab-pane>
  </el-tabs>
</div>
